.wrapper.institutional {
  color: #ccd6dd;
  font-size: 12px;
  line-height: 16px;
  margin-top: 15px;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  width: calc(100% - 30px);
}

.wrapper.institutional > .title {
  display: none;
}

.wrapper.institutional .paragraph {
  left: 15px;
  position: absolute;
  top: 0;
}

.wrapper.institutional .item {
  display: inline-block;
  margin-right: 8px;
}

.wrapper.institutional .item:first-child {
  margin-left: 90px;
}

.wrapper.institutional .anchor {
  color: inherit;
  text-decoration: none;
}

.wrapper.institutional:hover .anchor {
  color: #3b88c8;
}

.wrapper.institutional .anchor:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1190px) {
  .wrapper.institutional {
    margin: 15px 0;
  }
}
