.wrapper.media {
  margin-top: 20px;
}

.wrapper.media > .title {
  display: none;
}

.wrapper.media .paragraph {
  line-height: 1;
}

.wrapper.media .paragraph:before {
  color: #8899a6;
  display: inline-block;
  content: '\f027';
  font-family: 'rosetta-icons';
  font-size: 18px;
  line-height: 18px;
  vertical-align: bottom;
}

.wrapper.media .paragraph .anchor {
  color: #a8a1a2;
  font-size: 14px;
  margin-left: 5px;
  text-decoration: none;
}

.wrapper.media .paragraph .anchor:hover {
  text-decoration: underline;
}

.wrapper.media .collection {
  margin-top: 10px;
}

.wrapper.media .collection:after {
  clear: both;
  content: '';
  display: block;
}

.wrapper.media .item {
  background-color: #66757f;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  float: left;
  height: 83px;
  margin: 0 5px 5px 0;
  overflow: hidden;
  position: relative;
  width: 83px;
}

.wrapper.media .item .anchor {
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: -9999px;
  width: 100%;
}

@media only screen and (min-width: 674px) {
  .wrapper.media .item:nth-child(3n) {
    margin-right: 0;
  }
}
